<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body style="text-align: center">
<h1>We are the creators of Intellifridge</h1>
<div style="position: relative; width: 100%; height: auto">
    <div style="position: absolute; text-align: center; width: 100%">
<ul style="display:inline-table;">
   <li><h4>Paris Shirley</h4></li>
        <p>about Paris:</p>
    <li><h4>Salvador Salazar</h4></li>
        <p>about Sal:</p>
    <li><h4>Sergio Landa</h4></li>
        <p>about Sergio:</p>
    <li><h4>Joseph Congdon</h4></li>
        <p>about Joe:</p>
</ul>
    </div>
</div>
</body>
</html>