<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/partials.html :: head('About Us')">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<nav th:insert="partials/partials.html :: navbar"></nav>

<h1>We are the creators of Intellifridge</h1>
<div style="position: relative; width: 100%; height: auto">
    <div style="position: absolute; text-align: center; width: 100%">
        <ul style="display:inline-table;">
           <li>
               <h4>Paris Shirley</h4>
               <p>about Paris:</p>
           </li>
            <li>
                <h4>Salvador Salazar</h4>
                <p>about Sal:</p>
            </li>

            <li>
                <h4>Sergio Landa</h4>
                <p>about Sergio:</p>
            </li>

            <li>
                <h4>Joseph Congdon</h4>
                <p>about Joe:</p>
            </li>

        </ul>
    </div>
</div>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
</body>
</html>