<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head('Profile')"></head>
<!--<style>-->
<!--    .hidden{-->
<!--        display: none;-->
<!--    }-->
<!--</style>-->
<link rel="stylesheet" th:href="@{/css/profile.css}">

<!--    mbiel view -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<nav th:insert="partials/partials.html :: navbar"></nav>


<div>
    <div class="col-md-3">
        <div>
            <img th:src="${user.profilePicture}" alt="user profile picture" class="mx-auto d-block profileImg">
        </div>
        <div>
            <form th:action="@{/profile/{id}/editImage(id=${user.id})}" class="d-flex flex-column"
                  th:method="post" id="submitImage">
                <button th:type="button" class="profileBtn btn btn-outline-secondary whiteFont"
                        onclick="showImageForm('ImagePicker')">
                    Edit Image
                </button>
                <div style="display: none" id="ImagePicker">
                    <input class="form-control" id="imageFile" type="hidden" name="image">
                    <div class="uploadBtnDiv">
                    <button type="button" class="btn btn-outline-secondary whiteFont mt-2" id="open">Choose
                        image to upload
                    </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<h1 class="text-center" th:text="${user.username}"></h1>

<h2 id="errorProfileForm" class="errorProfileForm text-center"></h2>
<div class="editFormP">
<button class="editForm" id="edit">edit</button>
<div th:if="${param.email}">
    <h2 class="text-center error" th:if="${param.email[0] == 'bad'}">Email already exists. Please choose a different email.</h2>
</div>
    <div class="editFormC">
<form th:action="@{'/profile/' + ${user.id} + '/edit'}" name="edit" class="hidden" id="editForm" th:method="post">

    <ul>
        <li>
            <label for="username">Username</label>
            <br>
            <input class="editInput" name="username" type="text" th:value="${user.username}" id="username"
                  placeholder="Username" required/>
        </li>
        <li>
            <label for="email">Email</label>
            <br>
            <input class="editInput" name="email" type="text" th:value="${user.email}" id="email" placeholder="Email" required/>
        </li>
        <li>
            <label for="phoneNumber">phoneNumber</label>
            <br>
            <input class="editInput" name="phoneNumber" type="text" th:value="${user.phoneNumber}" id="phoneNumber" placeholder="Phone number" required/>
        </li>
        <li>
            <p>Do you want to get notifications</p>
            <label for="notifyYes">Yes</label>
            <input type="radio" name="notifications" value="true" id="notifyYes" th:checked="${user.isNotifications() == true}" required>
            <label for="notifyNo">No</label>
            <input type="radio" name="notifications" value="false" id="notifyNo" th:checked="${user.isNotifications() == false}" required>
        </li>
        <button type="submit" id="form-btn">Submit</button>
    </ul>
</form>
</div>
</div>

<div th:if="${param.error}" id="errorM">
    <h1 class="text-center error" th:if="${param.error[0] == 'null'}">User not found</h1>
    <h1 class="text-center error" th:if="${param.error[0] == 'current'}">User already added to this fridge</h1>
    <h1 class="text-center error" th:if="${param.error[0] == 'privateUser'}">User is private and cannot be added</h1>
</div>
<div th:if="${param.userAdded}">
    <h1 class="text-center success" th:if="${param.userAdded[0] == 'true'}">User successfully added!</h1>
</div>
<h3 class="text-center">Fridge List:</h3>

<div th:each="fridge : ${fridge}">
    <div class="container">
        <div class="row main">
            <div class="container fridgeCards">
            <div class="row">
                <div class="col">
                <h4 class="text-center" th:text="${fridge.name}"></h4>
                </div>
            </div>
            <div class="row">
                    <div class="col cardImg">
                        <img class="fridgeImg" th:src="@{/images/fridge-icon.png}" alt="fridge image">
                    </div>

                    <div class="col cardControls">
                        <form th:action="@{'/fridge/' + ${fridge.id}}" th:method="GET">
                            <button class="btn view-btn">View Fridge</button>
                        </form>

                        <br>

                        <form name="deleteFridgeForm" method="post"
                              th:action="@{'/fridge/' + ${fridge.id} + '/delete'}">
                            <button class="btn leave-btn" id="deleteFridge">Leave</button>
                        </form>

                        <br>

                        <button th:id="${'addUser' + fridge.id}" th:data-id="${fridge.id}" class="addFormButton btn">Add
                            Friends
                        </button>
                        <form th:data-id="${fridge.id}" th:id="${'addUserForm' + fridge.id}" class="hidden" th:action="@{'/profile/add-user-to-fridge/' + ${fridge.id}}" th:method="POST">

                            <label class="addUser" for="addByUserName"></label>
                            <input class="addUserInput" name="addByUserName" id="addByUserName" type="text"
                                   placeholder="Type a username or email" required>
                            <button class="btn addUserBtn">Add</button>
                        </form>
                    </div>
                </div>
            <!--    Display if user has no fridges-->
            <div th:if="${user.getFridges().size() == 0}">
                <h3>You don't have any fridges</h3>
                <button>
                    <a class="nav-link" th:href="@{/fridge/add-fridge}">Create Fridge</a>
                </button>
            </div>
        </div>
        </div>
    </div>
</div>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>


<section th:replace="partials/partials_scripts :: script"></section>

<script src="js/jquery.js"></script>
<script src="/keys.js"></script>
<script th:src="@{js/showImageForm.js}"></script>
<script th:src="@{js/imageUploadFilestack.js}"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="js/frontendValidationProfile.js"></script>
<script src="js/profile.js"></script>

</body>
</html>
