<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head('Profile')"></head>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>

<nav th:insert="partials/partials.html :: navbar"></nav>

<h1>Profile</h1>
<h2 th:text="${user.username}"></h2>



<div >

        <div class="col-md-3">


                <div>
                    <img th:src="${user.profilePicture}" alt="user profile picture" class="col-12">
                </div>
                <div>
                    <form th:action="@{/profile/{id}/editImage(id=${user.id})}" class="d-flex flex-column"
                          th:method="post" id="submitImage">
                        <button th:type="button" class="profileBtn btn btn-outline-secondary whiteFont"
                                onclick="showImageForm('ImagePicker')">
                            Edit Image
                        </button>

                        <div style="display: none" id="ImagePicker">
                            <input class="form-control" id="imageFile" type="hidden" name="image">
                            <button type="button" class="btn btn-outline-secondary whiteFont mt-2" id="open">Choose
                                image to upload
                            </button>
                        </div>
                    </form>
                </div>
    </div>
</div>

<button id="edit">edit</button>
<div th:if="${param.email}">
    <h1 th:if="${param.email[0] == 'bad'}">Email already exists. Please choose a different email.</h1>
</div>
<form th:action="@{'/profile/' + ${user.id} + '/edit'}" name="edit" class="hidden" id="editForm" th:method="post">

    <ul>
        <li>
            <label for="username">Username</label>
            <input name="username" type="text" th:value="${user.username}" id="username"/>
        </li>
        <li>
            <label for="email">Email</label>
            <input name="email" type="text" th:value="${user.email}" id="email"/>
        </li>
        <li>
            <label for="phoneNumber">phoneNumber</label>
            <input name="phoneNumber" type="text" th:value="${user.phoneNumber}" id="phoneNumber"/>
        </li>
        <li>
            <p>Do you want to get notifications</p>
            <label for="notifyYes">Yes</label>
            <input type="radio" name="notifications" value="true" id="notifyYes">
            <label for="notifyNo">No</label>
            <input type="radio" name="notifications" value="false" id="notifyNo" checked="checked">
        </li>
        <button type="submit" id="form-btn">Submit</button>
    </ul>
</form>

<div th:if="${param.error}" id="errorM">
    <h1 th:if="${param.error[0] == 'null'}">User not found</h1>
    <h1 th:if="${param.error[0] == 'current'}">User already added to this fridge</h1>
</div>
<h3>Fridge List:</h3>
    <div th:each="fridge : ${fridge}">
        <p th:text="${fridge.name}"></p>
            <form th:action="@{'/fridge/' + ${fridge.id}}" th:method="GET">
                <button>View Fridge</button>
            </form>
            <br>
        <button th:id="${'addUser' + fridge.id}" th:data-id="${fridge.id}" class="addFormButton">Add User</button>
            <form th:data-id="${fridge.id}" th:id="${'addUserForm' + fridge.id}" class="hidden" th:action="@{'/profile/add-user-to-fridge/' + ${fridge.id}}" th:method="POST">

                <label for="addByUserName">Add by username</label>
                <input name="addByUserName" id="addByUserName" type="text" placeholder="Type the username of an existing user">
            <button>Add</button>
            </form>
        <form name="deleteFridgeForm" method="post" th:action="@{'/fridge/' + ${fridge.id} + '/delete'}">
        <button id="deleteFridge">Delete/Leave Fridge</button>
        </form>
    </div>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>




<script src="js/jquery.js"></script>
<script src="/keys.js"></script>
<script src="js/profile.js"></script>
<section th:replace="partials/partials_scripts :: script"></section>
<script th:src="@{js/showImageForm.js}"></script>
<script th:src="@{js/imageUploadFilestack.js}"></script>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</body>
</html>
