<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head('Profile')"></head>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>

<nav th:insert="partials/partials.html :: navbar"></nav>

<h1>Profile</h1>
<h2 th:text="${user.username}"></h2>
<button id="edit" >edit</button>
<form name="edit" class="hidden" id="editForm" method="post">

    <ul>
        <li>
            <label for="username">Username</label>
            <input name="username" type="text" th:value="${user.username}" id="username"/>
        </li>
        <li>
            <label for="email">Email</label>
            <input name="email" type="text" th:value="${user.email}" id="email"/>
        </li>
        <li>
            <label for="phoneNumber">phoneNumber</label>
            <input name="phoneNumber" type="text" th:value="${user.phoneNumber}" id="phoneNumber"/>
        </li>
        <button type="submit" id="form-btn">Submit</button>
    </ul>
</form>
<div th:if="${param.error}" id="errorM">
    <h1 th:if="${param.error[0] == 'null'}">User not found</h1>
    <h1 th:if="${param.error[0] == 'current'}">User already added to this fridge</h1>
</div>
<h3>Fridge List:</h3>
    <div th:each="fridge : ${fridge}">
        <p th:text="${fridge.name}"></p>
            <form th:action="@{'/fridge/' + ${fridge.id}}" th:method="GET">
                <button>View Fridge</button>
            </form>
            <br>
        <button id="addUser">Add User</button>
            <form id="addUserForm" class="hidden" th:action="@{'/profile/add-user-to-fridge/' + ${fridge.id}}" th:method="POST">

                <label for="addByUserName">Add by username</label>
                <input name="addByUserName" id="addByUserName" type="text" placeholder="Type the username of an existing user">
            <button>Add</button>
            </form>
    </div>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
<script src="js/jquery.js"></script>
<script src="js/profile.js"></script>
</body>
</html>