<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head('Add Food')">
    <meta charset="UTF-8">
    <title>Add Food</title>
</head>
<body>

<nav th:insert="partials/partials.html :: navbar"></nav>
<form th:action="@{fridge/addFood}" th:method="post" th:object="${food}">

    <label for="name">Insert Food Name:</label>
    <input type="text" placeholder="what food are you adding?" id="name"/>
<!--           th:field = "*{name}" -->
    <br>
    <label for="todayFood">Did you get this today?</label>
    <select id="todayFood" name="todayFood">
        <option value ="true">yes</option>
        <option value ="false">no</option>
    </select>
    <br>
    <label for="isInFreezer">Fridge or Freezer?</label>
    <select id="isInFreezer" name="isInFreezer">
<!--        th:field = "*{food.isInFreezer}"-->
        <option value ="false">Fridge</option>
        <option value ="true">Freezer</option>
    </select>
<!--    <td th:switch="*{food.isInFreezer}">-->
<!--        <span th:case="*"></span>-->
<!--        <span th:case="'false'" th:text="${shelfLifeFridge}"></span>-->
<!--        <span th:case="'true'" th:text="${shelfLifeFreezer}"></span>-->
<!--    </td>-->
    <br>
    <button type="submit">enter food</button>
</form>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
</body>
</html>