<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Food')">
    <meta charset="UTF-8">
    <title>Add Food</title>
</head>
<body>
<nav th:include="partials/partials.html :: navbar"></nav>
<form th:action="@{fidge/addFood}" th:method="post" th:object="${food}">
    <label for="name">Insert Food Name:</label>
    <input type="text" placeholder="what food are you adding?" id="name" th:field = "*{name}" />
    <label for="isInFreezer">Fridge or Freezer?</label>
    <select id="isInFreezer" name="isInFreezer" th:field = "*{isInFreezer}">
        <option value ="false">Fridge</option>
        <option value ="true">Freezer</option>
    </select>
    //if it is in freezer

    <button type="submit"></button>
</form>
<th:block th:include="partials/partials.html :: bootstrap-js"/>
</body>
</html>