<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Food')">
    <meta charset="UTF-8">
    <title>Add Food</title>
</head>
<body>

<nav th:insert="partials/partials.html :: navbar"></nav>
<form th:action="@{'/fridge/' + ${fridge.id} + '/add-food'}" th:method="post" th:object="${food}">

<!--    Hidden date added-->
    <input th:type="hidden" th:field="*{dateAdded}">
    <label for="foodName">Insert Food Name:</label>
    <input type="text" placeholder="What is the name of your food?" id="foodName" th:field="*{name}"/>
    <br>
    <label for="todayFood">Did you get this today?</label>
    <select id="todayFood" name="todayFood">
        <option value ="true">yes</option>
        <option value ="false">no</option>
    </select>
    <br>
    <label>Fridge or Freezer?</label>

<!--    <select id="isInFreezer" name="isInFreezer" th:field="*{food.isInFreezer}">-->
<!--        <option th:value="false" th:text="Fridge"></option>-->
<!--        <option th:value="true" th:text="Freezer"></option>-->
<!--    </select>-->

    <input type="radio" name="isInFreezer" th:value="false" th:text="Fridge">
    <input type="radio" name="isInFreezer" th:value="true" th:text="Freezer">



    <br>
    <button type="submit">enter food</button>
</form>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
</body>
</html>