









<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head(${currentFridge.name})">

    <meta  name="viewport" content="width=device-width, initial-scale=1.0" />


<!--    <meta  name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">









    <title id="pageTitle">IntelliFridge | About Us</title>
    <meta  name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<!--    <link  rel="stylesheet" th:href="@{css/loginScript.css}"/>-->









<!--    <script type="text/javascript" th:src="@{/static/css/loginScript.js}"></script>-->
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>






    <title>Fridge</title>
</head>
<style>
    .foodItem {
        display: none;
        border: 5px solid red;
    }

    #addFoodForm {
        display: none;
    }
</style>

<!--Datatable CDN's-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<link  rel="stylesheet" th:href="@{css/loginScript.css}"/>


<body>
<link  rel="stylesheet" th:href="@{css/loginScript.css}"/>

<nav th:insert="partials/partials.html :: navbar"></nav>
<h1 th:text="${currentFridge.name}"></h1>


<!--h1<div class="card" style="width: 18rem;">-->
<!--    <img src="..." class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--</div>-->







<!--Table-->
<div class="container my-2">
    <table id="foodTable" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th><a class="btn btn-success text-right" target="_blank">Food Name</a></th>
            <th><a class="btn btn-success text-right" target="_blank">Expiration Date</a></th>
            <th><a class="btn btn-success text-right" target="_blank">Category</a></th>
            <th><a class="btn btn-success text-right" target="_blank">Actions</a></th>
        </tr>
        </thead>

        <tbody>
        <tr  th:each="food : ${foodInFridge}">

            <div class="card-body">
            <td th:text="${food.name}" class="food-name">

                <div th:text="${'Expiration Date : '+(food.expirationDate.getMonth() + 1) + '-' + (food.expirationDate.getDate()) + '-' + (food.expirationDate.getYear() + 1900)}"></div>
<!--                <br>-->
                                        <a href="#" class="btn btn-primary">Test Button</a>
                                       <div>
                                        <form th:action="@{'/fridge/' + ${currentFridge.id} + '/food/' + ${food.id} + '/delete'}"
                                              th:method="POST">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                       </div>
            </div>


    <!--                                    </div>  -->


</td>
            <!--              <td>  <div   class="card " style="width: 18rem;">-->
<!--                    <img th:text="${food.name}"  >-->
<!--                    <div class="card-body">-->
<!--                        <img src="${fridgeImageUrl}   "><br>-->

<!--                        <div id="foodResults">-->
<!--                            <div th:each="shelfLife : ${shelfLives}" class="foodItem">-->
<!--                                <div th:id="${shelfLife.name}" class="foodImageUrl"></div>-->
<!--                                <h3 th:text="${shelfLife.name}" class="foodName"></h3>-->
<!--                            </div>-->

<!--                        <div th:text="${'Expiration Date : '+(food.expirationDate.getMonth() + 1) + '-' + (food.expirationDate.getDate()) + '-' + (food.expirationDate.getYear() + 1900)}"></div>-->
<!--<br>-->
<!--&lt;!&ndash;                        <a href="#" class="btn btn-primary">Test Button</a>&ndash;&gt;-->
<!--                        <form th:action="@{'/fridge/' + ${currentFridge.id} + '/food/' + ${food.id} + '/delete'}"-->
<!--                              th:method="POST">-->
<!--                            <button class="btn btn-danger">Delete</button>-->
<!--                        </form>-->


<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->



<!--            </td>-->















            <td th:text="${(food.expirationDate.getMonth() + 1) + '-' + (food.expirationDate.getDate()) + '-' + (food.expirationDate.getYear() + 1900)}"></td>

            <td th:text="${food.getShelfLife().getFoodGroup().name}"></td>



            <td>
                <form>
                    <button class="btn btn-warning">SMS Updates ?</button>
                </form>
                <form th:action="@{'/fridge/' + ${currentFridge.id} + '/food/' + ${food.id} + '/delete'}"
                      th:method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>










<h1>IMAGES</h1>
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
<div >

    <div th:each="food : ${foodInFridge}">

    <div th:text="${food.name}" class="food-name">    </div>
        <div    ></div>
<!--<br><hr>-->
        <div th:text="${'Expiration Date : '+(food.expirationDate.getMonth() + 1) + '-' + (food.expirationDate.getDate()) + '-' + (food.expirationDate.getYear() + 1900)}">    </div>


        <!--        </div>-->
<!--        &lt;!&ndash;                <br>&ndash;&gt;-->
<!--        <div>-->
<!--        <a href="#" class="btn btn-primary">Test Button</a>-->
<!--        </div>-->

        <div>
            <form th:action="@{'/fridge/' + ${currentFridge.id} + '/food/' + ${food.id} + '/delete'}"
                  th:method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

</div>

</div>
        </div>
    </div>


<hr><hr>

<!--add-food form-->
<button class="btn btn-primary" id="addFoodButton">Add Food</button>
<form th:action="@{'/fridge/' + ${currentFridge.id} + '/add-food'}" th:method="post" th:object="${food}" id="addFoodForm">

    <!--    Hidden date added-->
    <input th:type="hidden" th:field="*{dateAdded}">

    <label>Food Name</label>
    <input type="text" placeholder="Food name..." id="foodSearch" th:field="*{name}" required>

    <div id="foodResults">
        <div th:each="shelfLife : ${shelfLives}" class="foodItem">
            <div th:id="${shelfLife.name}" class="foodImageURL"></div>
            <h3 th:text="${shelfLife.name}" class="foodName"></h3>
        </div>
    </div>

    <div id="addedFood"></div>
</form>


















<th:block th:insert="partials/partials.html :: bootstrap-js"/>
<!--cdn datatable links for sorting -->

<!--Not needed for search/sort table - alignment right and center-->
<!--        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>-->

<!--<script type="text/javascript">-->
<!--    let table = new DataTable('#foodTable', {-->
<!--        // options-->
<!--    });-->
</script>
<!--<script src="/js/jquery.js"></script>-->
<script src="/keys.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--sort/search bar for table-->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="/js/add-food.js"></script>
<script src="/js/fridge.js"></script>


<!--    &lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins)&ndash;&gt;-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed-->
    <script src="js/bootstrap.min.js"></script>


</body>
</html>


























<!--ORIGINAL FRIDGE HITML-->


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:include="partials/partials.html :: head(${currentFridge.name})">-->



<!--    <meta  name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->


<!--    <script type="text/javascript" th:src="@{/static/css/loginScript.js}"></script>-->
<!--    &lt;!&ndash; Website Font style &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">-->
<!--    &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>-->
<!--    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->






<!--    <title>Fridge</title>-->
<!--</head>-->
<!--<style>-->
<!--    .foodItem {-->
<!--        display: none;-->
<!--        border: 5px solid red;-->
<!--    }-->

<!--    #addFoodForm {-->
<!--        display: none;-->
<!--    }-->
<!--</style>-->

<!--&lt;!&ndash;Datatable CDN's&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">-->

<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>-->


<!--<body>-->
<!--<link  rel="stylesheet" th:href="@{css/loginScript.css}"/>-->

<!--<nav th:insert="partials/partials.html :: navbar"></nav>-->
<!--<h1 th:text="${currentFridge.name}"></h1>-->


<!--&lt;!&ndash;Table&ndash;&gt;-->
<!--<div class="container my-2">-->
<!--    <table id="foodTable" border="1" class="table table-striped table-responsive-md">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th><a class="btn btn-success text-right" target="_blank">Food Name</a></th>-->
<!--            <th><a class="btn btn-success text-right" target="_blank">Expiration Date</a></th>-->
<!--            <th><a class="btn btn-success text-right" target="_blank">Category</a></th>-->
<!--            <th><a class="btn btn-success text-right" target="_blank">Actions</a></th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr th:each="food : ${foodInFridge}">-->


<!--            <td th:text="${food.name}" class="food-name">-->




<!--            </td>-->
















<!--            <td th:text="${(food.expirationDate.getMonth() + 1) + '-' + (food.expirationDate.getDate()) + '-' + (food.expirationDate.getYear() + 1900)}"></td>-->

<!--            <td th:text="${food.getShelfLife().getFoodGroup().name}"></td>-->



<!--            <td>-->
<!--                <form>-->
<!--                    <button class="btn btn-warning">SMS Updates ?</button>-->
<!--                </form>-->
<!--                <form th:action="@{'/fridge/' + ${currentFridge.id} + '/food/' + ${food.id} + '/delete'}"-->
<!--                      th:method="POST">-->
<!--                    <button class="btn btn-danger">Delete</button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!--&lt;!&ndash;add-food form&ndash;&gt;-->
<!--<button class="btn btn-primary" id="addFoodButton">Add Food</button>-->
<!--<form th:action="@{'/fridge/' + ${currentFridge.id} + '/add-food'}" th:method="post" th:object="${food}" id="addFoodForm">-->

<!--    &lt;!&ndash;    Hidden date added&ndash;&gt;-->
<!--    <input th:type="hidden" th:field="*{dateAdded}">-->

<!--    <label>Food Name</label>-->
<!--    <input type="text" placeholder="Food name..." id="foodSearch" th:field="*{name}" required>-->

<!--    <div id="foodResults">-->
<!--        <div th:each="shelfLife : ${shelfLives}" class="foodItem">-->
<!--            <div th:id="${shelfLife.name}" class="foodImageURL"></div>-->
<!--            <h3 th:text="${shelfLife.name}" class="foodName"></h3>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div id="addedFood"></div>-->
<!--</form>-->


















<!--<th:block th:insert="partials/partials.html :: bootstrap-js"/>-->
<!--&lt;!&ndash;cdn datatable links for sorting &ndash;&gt;-->

<!--&lt;!&ndash;Not needed for search/sort table - alignment right and center&ndash;&gt;-->
<!--&lt;!&ndash;        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>&ndash;&gt;-->

<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;    let table = new DataTable('#foodTable', {&ndash;&gt;-->
<!--&lt;!&ndash;        // options&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--</script>-->
<!--&lt;!&ndash;<script src="/js/jquery.js"></script>&ndash;&gt;-->
<!--<script src="/keys.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;sort/search bar for table&ndash;&gt;-->
<!--<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>-->
<!--<script src="/js/add-food.js"></script>-->
<!--<script src="/js/fridge.js"></script>-->
<!--</body>-->
<!--</html>-->
