<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html><head>
      <!-- title and meta -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <title>Expandable Search Bar with CSS Transitions</title>

  <!-- css -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/base.css" />

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body>
<!-- Navigation
================================================== -->
<!--<div id="info-bar">-->
<!--  <div class="container clearfix">-->
<!--        <span class="float-left">-->
<!--            <a href="https://lukelinwood.wordpress.com/2016/11/29/using-filestack-to-upload-locally-or-from-popular-networks">-->
<!--                <i class="fa fa-reply"></i> Return to Tutorial-->
<!--            </a>-->
<!--        </span>-->
<!--    <span class="float-right">-->
<!--            <a href="http://lukelinwood.wordpress.com">-->
<!--                LukeLinwood.COM-->
<!--            </a> -->
<!--        </span>-->
<!--  </div>-->
<!--</div>&lt;!&ndash; /#info-bar &ndash;&gt;-->

<!--<div id="title" style="margin-top:20px">-->
<!--  <p>Brought to you by:</p>-->
<!--  <h2>LukeLinwood.COM</h2>-->
<!--</div>-->


<!-- Body Wrapper - Layout
================================================== -->
<div id="boxed-layout">

  <!-- Header
  ================================================== -->
<!--  <header>-->
<!--    <div id="title" class="container">-->
<!--      <a href="https://lukelinwood.wordpress.com">-->
<!--        <img src="logo/logo_light.png"></a>-->
<!--      <h1>Using FileStack</h1>-->
<!--    </div>-->
<!--  </header>&lt;!&ndash; /header &ndash;&gt;-->

  <!-- Login Form
  ================================================== -->
  <form>
    <!-- Profile Picture -->
    <div class="profile">
      <img id="dp" src="img/default.jpg">
    </div>

    <!-- FileStack section - Select Default Picture
    ================================================== -->
    <div style="width: 100%;text-align: center;margin: 20px 0;color: #aaa">
      Choose your own default picture <br>
      <script type="text/javascript" src="http://api.filestackapi.com/filestack.js"></script>
      <input type="filepicker" data-fp-apikey="AHtDDvPETGSXpr1bg2Isxz" onchange="loadImage(event.fpfile.url)">
    </div>

    <script type="text/javascript">
      function loadImage(imageURL) {
        document.getElementById("dp").src = imageURL;
      }
    </script>

<!--    &lt;!&ndash; Username &ndash;&gt;-->
<!--    <input type="email" placeholder="Your Email">-->
<!--    &lt;!&ndash; Password &ndash;&gt;-->
<!--    <input type="password" placeholder="Your Password">-->
<!--    &lt;!&ndash; Keep Me Logged In &ndash;&gt;-->
<!--    <input type="checkbox" id="checkbox1" name="checkbox" />-->
<!--    <label for="checkbox1">-->
<!--      <span></span>Keep me logged in-->
<!--      <div class="tooltip">-->
<!--        <i class="fa fa-question-circle"></i>-->
<!--        <div class="tooltiptext">This will keep you logged in for 30 Days after which time you will be required to log in again. Note that this only applies for as long as you do not logout of your account.</div>-->
<!--      </div>-->
<!--    </label>-->
<!--    <br>-->
<!--    &lt;!&ndash; Login Button &ndash;&gt;-->
<!--    <button class="button">Login</button>-->
<!--  </form>-->
<!--</div>&lt;!&ndash; /layout &ndash;&gt;-->

<!-- Footer section
================================================== -->
<!--<footer>-->
<!--  <div class="container clearfix">-->
<!--        <span class="float-left">-->
<!--            <div class="copyright">-->
<!--                <a href="http://lukelinwood.wordpress.com" target="_blank">LukeLinwood.COM</a>-->
<!--                <p>&copy; 2016, Luke Linwood</p>-->
<!--            </div>-->
<!--        </span>-->
<!--    <span class="float-right">-->
<!--            &lt;!&ndash; Social Media Links-->
<!--            ================================================== &ndash;&gt;-->
<!--            <ul class="social-icons">-->
<!--                <p>STAY CONNECTED</p>-->
<!--                <li><a href="http://twitter.com/luke_linwood" class="social-icon">-->
<!--                    <i class="fa fa-facebook"></i></a></li>-->
<!--                <li><a href="http://facebook.com/luke.linwood.1" class="social-icon">-->
<!--                    <i class="fa fa-twitter"></i></a></li>-->
<!--                <li><a href="http://instagram.com/lukelinwood" class="social-icon">-->
<!--                    <i class="fa fa-instagram"></i></a></li>-->
<!--                <li><a href="http://linkedin.com/in/luke-linwood-b20a9583" class="social-icon">-->
<!--                    <i class="fa fa-linkedin"></i></a></li>-->
<!--              &lt;!&ndash;<li><a href="" class="social-icon"><i class="fa fa-google-plus"></i></a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;<li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>&ndash;&gt;-->
<!--              &lt;!&ndash;<li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </span>-->
<!--  </div>-->
<!--</footer>&lt;!&ndash; /footer &ndash;&gt;-->

<!-- JavaScript - if any
================================================== -->

</body></html></title>
</head>
<body>

</body>
</html>