<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<html>
<head >

    <title>Title</title>
</head>
<body>


<nav th:fragment="sort" style="text-align: right">
    <form  th:action="@{/fridge/${fridge.getId()}}" method="post" th:object="${food}">
        <input type="submit" value="Sort Foods By :" name="sort-Food">

        <select name="id" id="id">
            <option value="alphabetical">Alphabetically</option>
            <option value="expiration">Expritation Date</option>
            <option value="foodGroup">Food Group</option>
        </select>




    </form>


</nav>

</body>
</html>