<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: head(${currentFridge.name})">
    <meta charset="UTF-8">
    <title>Fridge</title>
</head>
<body>


<nav th:fragment="sort" style="text-align: right">
    <form  th:action="@{/fridge/${fridge.getId()}}" method="post" th:object="${food}">
        <input type="submit" value="Sort Foods By :" name="sort-Food">

        <select name="id" id="id">
            <option value="alphabetical">Alphabetically</option>
            <option value="expiration">Expritation Date</option>
            <option value="foodGroup">Food Group</option>
        </select>




    </form>


</nav>

</body>
</html>