<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
</head>
<body>

<h1>Are you sure you want to delete your account by deleting your account you will lose all your fridges and all your account information</h1>
<h3>If you do want to delete your account click on delete account button</h3>
<h3>If you do not want to delete your account click on save account button</h3>

<form th:action="@{'/profile'}" th:method="GET">
    <button>save account</button>
</form>

<form th:action="@{'/delete-account'}" th:method="POST">
    <button>delete account</button>
</form>

</body>
</html>