<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/partials.html :: head('Sign-Up')">
  <meta charset="UTF-8" />
  <title>Sign up</title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}" href="/static/css/signup.css">-->
</head>
<body>
  <nav th:insert="partials/partials.html :: navbar"></nav>
  <h1>Create an account</h1>
  <h2 id="errorSignUp"></h2>
  <form id="signUpForm" th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" required />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" required />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" required />

    <label>Privacy</label>
    <label for="isPrivateTrue">True</label>
    <input type="radio" name="isPrivate" th:value="true" id="isPrivateTrue" required >
    <label for="isPrivateFalse">False</label>
    <input type="radio" name="isPrivate" th:value="false" id="isPrivateFalse" checked="checked" required >
    <p>Users are capable of adding other users to their fridges. If you wish to remain <em>private</em> and not have this capability to be added, select true.</p>


<!--    Not working because we're unable to link the CSS to the page-->
<!--    <label for="privacy">Private?</label>-->
<!--    <div id="privacy">-->
<!--      <label class="switch">-->
<!--        <input type="checkbox" name="isPrivate">-->
<!--        <span class="slider round"></span>-->
<!--      </label>-->
<!--      <p>Users are capable of adding other users to their fridges. If you wish to remain <em>private</em> and not have this capability to be added, select true.</p>-->
<!--    </div>-->

    <input value="Sign me up!" type="submit" />
  </form>
  <th:block th:insert="partials/partials.html :: bootstrap-js" />
<script src="js/frontendValidation.js"></script>
</body>
</html>