<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ooops, Not Found</title>

    <link  rel="stylesheet" th:href="@{css/error.css}"/>
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/favicon/favico.png}">
    <link rel="apple-touch-icon" type="image/png" sizes="32x32" th:href="@{/favicon/favico.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favico.png}">


</head>
<body >


<div>
    <h1 >Something Went Wrong </h1>
    <form th:action="@{/}" th:method="GET">
        <button class="errBtn" type="submit">Go Back</button>
    </form>
</div>

<div><img th:src=" @{/images/fridge2.png}" </div>



</body>
</html>