/*Mobile View*/
@media (max-width: 720px) {

    table#foodTable.table.table-striped.table-responsive-md.dataTable.no-footer{
        visibility: collapse;
    }

    /*gets rid of the table search*/
    div#foodTable_wrapper.dataTables_wrapper.no-footer {
        visibility: collapse;
    }

    html, body {
        overflow-x: hidden;
    }

    .foodName {
        white-space: nowrap;
        overflow: auto;
        max-width: 200px;
        /*text-overflow: ellipsis;*/
    }

    .container {
        width: 100%;
        white-space: nowrap;
    }

    #addFoodForm {
        display: none;
    }

    .visible {
        display: block;
    }

    .foodResultImage {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .foodItem {
        display: none;
        max-width: 33%;
    }


    #addedFood {
        width: 150px;
    }

    .logOutbtn
    {
        background-color: #6FB2D1FF;
        border-radius: 12px;
        border: 2px solid  #6FB2D1FF;

    }

}

/*Desktop View*/
@media (min-width:721px) {
    .phoneTable{
        visibility: collapse;
    }

    html, body {
        overflow-x: hidden;
    }

    .foodItem {
        display: none;
        max-width: 200px;
    }

    .foodName {
        white-space: nowrap;
        overflow: hidden;
        max-width: 200px;
        text-overflow: ellipsis;
    }

    .container {
        width: 100%;
        white-space: nowrap;
    }

    #addFoodForm {
        display: none;
    }

    .visible {
        display: block;
    }

    .foodResultImage {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    #addedFood {
        max-width: 200px;
    }

    .logOutbtn
    {
        background-color: #6FB2D1FF;
        border-radius: 12px;
        border: 2px solid  #6FB2D1FF;

    }
}