.title{
    margin-top: 25px;
    color:rgb(  111,	178,	209) ;
}

.home-title{
    text-align: center;
}

.description{
    color:rgb(  111,	178,	209) ;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.description-ul{
    color:rgb(  111,	178,	209) ;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.proper{
    padding: 10px;
    font-size: 21px;
}
.proper-signUp{
    padding: 9px;
    font-size: 19px;
}
.proper-logIn{
    padding: 9px;
    font-size: 1.5rem;
}

input[type="text"], input[type="password"], input[type="submit"] {
    font-size: 1.5rem;
}

.home-image-position{
    padding-bottom: 4px;
}
