.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{

    color:rgb(  111,	178,	209) ;

}

h1{
text-align: center;
}
.imageProfile {
    display: block;
    /*margin-left: auto;*/
    margin: auto;

    border-radius: 50%;
}
body{


    background:url(https://cdn.filestackcontent.com/JKHcJikXRKehLgRQjCs7);


}

.main{
    margin:50px 15px;
}


hr{
    width: 10%;
    color: #fff;
}

.aboutUs{
    background: rgb(  111,	178,	209)	;
    border-radius:30px;

}

/*TO CENTER MENU FORM*/
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background: rgb(  111,	178,	209)	;
    color: #FFF;

    border-radius:30px;

}

.class {
    border-radius: 4px;
}

.circle {
    border-radius: 50%;
}









#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}




.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: “”;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}




