.hidden{
    display: none;
}

.profileImg{
    border: rgb( 142, 182, 200) solid 2px;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    margin-top: 60px;
}



h3{
    color:rgb( 111, 178, 209);
    font-weight: bold;
}

.userName{
    color:rgb( 111, 178, 209);
    font-weight: bold;
}

.editForm{
    margin-right: 31px;
}

.noFridges{
    color: rgb( 111, 178, 209);
    text-decoration: none;
}

p,label{
    font-size: 1.5rem;
    color: black;
}

.divtest{
    /*border: black solid 2px;*/
}



.btn.btn-outline-secondary.whiteFont.mt-2{
    font-size: 1.5rem;
    height: 3rem;
    width: 12rem;
}

.editFormBtn{
    background-color: white;
    border-radius: 7.25rem;
    border: gray solid 1px;
    color: gray;
    font-size: 1.5rem;
    height: 3rem;
    width: 12rem;
    margin-bottom: 15px;
}

.editFormBtn:active{
    background-color: gray;
    color: white;
}

#editUserBtn{
    background-color: white;
    border-radius: 7.25rem;
    border: gray solid 1px;
    color: gray;
    font-size: 1.5rem;
    height: 3rem;
    width: 8rem;
}

#editUserBtn:active{
    background-color: gray;
    color: white;
}

.addFridgeBtn{
    background-color: rgb( 111, 178, 209);
    border-radius: 7.25rem;
    border: blue solid 1px;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.fridgeName{
    margin: 12px;
}

.addFridgeBtn:active{
    background-color: #406fee;
    color: white;
}

.submitFridgeBtn{
    border-radius: 7.25rem;
    color: black;
    font-size: .8rem;
    height: 2rem;
    width: 5rem;
    background-color: rgb( 195, 252, 204);
    border: rgb( 142, 182, 200) solid 2px;
}

#addFridgeForm{
    margin-top: 20px;
    margin-bottom: 60px;
}

.submitFridgeBtn:active{
    background-color: #23fd5f;
    color: white;
}

.cancelFridgeBtn{
    border-radius: 7.25rem;
    color: black;
    font-size: .8rem;
    height: 2rem;
    width: 5rem;
    background-color: rgb( 254, 191, 189);
    border: rgb( 142, 182, 200) solid 2px;
}

.cancelFridgeBtn:active{
    background-color: #ec0b0b;
    color: white;
}

button#edit.editFormBtn:active{
    background-color: gray;
    color: white;
}


input#newFridge{
    margin: 10px;
}



.fridgeCards{
    margin-top: 20px;
    width: 400px;
    height: auto;
    background: rgb(  194,	235,	252)	;
    color: black;
    border-radius:30px;
    border: rgb( 142, 182, 200) solid 2px;

}

p{
    font-size: 1.2rem;
}


.btn{
    background-color: white;
    border-radius: 7.25rem;
    font-size: .8rem;
    font: bold;
    height: 40px;
    width: 100px;
    margin: 10px;
}

.addUser{
    font-size: 7px;
}

.addUserInput{
         width: 13.6rem;
         height: 39px;
}

.fridgeImg{
    height: 185px;
}

.view-btn{
    background-color: rgb( 195, 252, 204);
    border: rgb( 142, 182, 200) solid 2px;
}

.leave-btn{
    background-color: rgb( 254, 191, 189);
    border: rgb( 142, 182, 200) solid 2px;
    margin-bottom: 10px;
}

.addFormButton {
    background-color: rgb( 234, 223, 252);
    border: rgb( 142, 182, 200) solid 2px;
    margin: auto;
    margin-bottom: 30px;
}

.addUserBtn{
    background-color: rgb( 224, 255, 230);
    border: rgb( 142, 182, 200) solid 2px;
}

.Fl{
    margin-top: 60px;
}

.ulUserEditForm{
    padding: 0;
}


.ulUserEditForm > li {
    padding: 10px;
    list-style: none;
}

.hr-design{
    width: 88%;
    border-top: 11px dotted rgb(3, 169, 244);
    margin: .5em auto .5em auto ;
}

input[type="text"]{
    font-size: 1.5rem;
}

/*.addUserDiv{*/
/*    margin-right: 3rem;*/
/*}*/

@media screen and (min-width:768px) {
    .hr-design{
       display: none;

    }
}
