.hidden{
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1,h3{
    color:rgb( 111, 178, 209);
    text-decoration: underline;

}

.editFormP{
    position: relative;
    text-align: center;
}

.editFormC{
    position: inherit;
    right: 1rem;
    margin-top: 20px;
}

.success{
    color: #05f105;
}

p,label{
    color: rgb(1, 103, 145);
}

.errorProfileForm{
    color: red;
}

.profileImg{
    display: block;
    border: rgb( 142, 182, 200) solid 2px;
    border-radius: 50%;
    height: 11rem;
    width: 11rem;
    margin: 10px;
    image-resolution: normal;
}

.editFormBtn{
    background-color: white;
    border-radius: 7.25rem;
    border: gray solid 1px;
    color: gray;
    font-size: 12px;
    margin: auto;
    height: 2rem;
    width: 12rem;
}

.editForm:active{
    background-color: gray;
    color: white;
}

button#form-btn{
    background-color: white;
    border-radius: 7.25rem;
    border: gray solid 1px;
    color: gray;
    font-size: 12px;
    height: 2rem;
    width: 4rem;
}

button#edit.editFormBtn:active{
    background-color: gray;
    color: white;
}

.editInput{
    width: 12rem;
}

.fridgeCards{
    margin-top: 30px;
    /*margin: 0 auto;*/
    width: 400px;
    height: 354px;
    padding: 10px 40px;
    background: rgb(  194,	235,	252)	;
    color: #FFF;
    border-radius:30px;
    position: relative;
    border: rgb( 142, 182, 200) solid 2px;

}
.main{
    margin:10px 25px;
}

.btn{
    background-color: white;
    border-radius: 7.25rem;
    font-size: 12px;
    height: 47px;
    width: 97px;


}

.addUser{
    font-size: 7px;
    margin: 2px;
}

.addUserInput{
    /*max-width: 93px;*/
    width: 12.3rem;
    height: 20px;
    margin: 2px;
    position: absolute;
    right: 5rem;
}

.error{
    color: red;
}

div.col.cardControls{
    width: 8.7rem;

}

div.col.cardImg{

}


button.btn.addUserBtn{
    position: absolute;
    top: 14rem;
}

.cardControls{
    position: absolute;
    left: 10rem;
}

.fridgeImg{
    height: 185px;
    width: auto;
}


.cardImg{
    position: absolute;
    right: 0.98rem
}

.view-btn{
    background-color: rgb( 195, 252, 204);
    border: rgb( 142, 182, 200) solid 2px;
}

.leave-btn{
    background-color: rgb( 254, 191, 189);
    border: rgb( 142, 182, 200) solid 2px;
}

.addFormButton {
    background-color: rgb( 234, 223, 252);
    border: rgb( 142, 182, 200) solid 2px;
}

.addUserBtn{
    background-color: rgb( 224, 255, 230);
    border: rgb( 142, 182, 200) solid 2px;
}

button.profileBtn.btn.btn-outline-secondary.whiteFont{
    margin: auto;
    height: 2rem;
    width: 12rem;
}

button#open.btn-outline-secondary.whiteFont.mt-2{
    margin: auto;
    height: 2rem;
    width: 12rem;
}

.hr-design{
    width: 88%;
    border-top: 11px dotted rgb(3, 169, 244);
    margin: .5em auto .5em auto ;
}

.uploadBtnDiv{
    text-align: center;
}

li{
    list-style: none;
}

/*h1{*/
/*    text-align: center;*/
/*}*/