<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/partials.html :: head('Home')">
<meta  name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" th:src="@{/static/css/loginScript.js}"></script>
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


<title>Log In</title>
</head>
<link  rel="stylesheet" th:href="@{css/loginScript.css}"/>
<body>
<!--<nav th:include="partials/partials.html :: head('Home')" ></nav>-->

<nav th:insert="partials/partials.html :: navbar"></nav>
<h1 class="title">Welcome To IntelliFridge</h1>

    <a class="nav-link" th:href="@{/}">
        <img class="center" th:src="@{/images/fridge2sm.png}"    />
    </a>


        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

            <div class="container">
                <div class="row main">
                    <div class="main-login main-center">
                        <form th:action="@{/login}" method="POST">
                        <div>
                            <form th:action="@{/login}" th:method="GET">
                               <!--    <button type="submit">Login</button>-->
                                <input type="submit" value="Log In" class="form-control" />
                            </form>
                        </div><br>

                        <div>
                            <form th:action="@{/sign-up}" th:method="GET">
                            <!--       <button type="submit">Sign up</button>-->
                                <input type="submit" value="Sign Up" class="form-control" />
                            </form>
                         </div><br>

                        <div>
                            <form th:action="@{/about-us}" th:method="GET">
                            <!--   <button type="submit">About Us</button>-->
                                  <input type="submit" value="About Us" class="form-control" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed-->
<script src="js/bootstrap.min.js"></script>

  <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>