<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/partials.html :: head('Home')">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<nav th:insert="partials/partials.html :: navbar"></nav>
<body>
<h1>This the home page</h1>

<form th:action="@{/login2222}" th:method="GET">
    <button type="submit">Login Error Test</button>
</form>
<form th:action="@{/login}" th:method="GET">
    <button type="submit">Login</button>
</form>

<form th:action="@{/sign-up}" th:method="GET">
    <button type="submit">Sign up</button>
</form>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
</body>
</html>